.row{
  // padding-left:4vh;
  margin-left: 0px;
  margin-right: 0px;
}

.myPhoto{
  height:-webkit-fill-available;
  box-shadow: 0 0px 0px 0px rgba(0,0,0,.2);
}
.myFirstName{
  margin:auto;
  // padding-left: 1rem;
  padding-top: 3rem;
  font-family: abril-fatface, serif;
  font-style: normal;
  font-weight: 800;
  font-size: 5em;
  color: white;
}
.myJob{
  padding-left: 1rem;
  padding-top: 1rem;
  color: white;
  margin-top: 2em;
  font-size: 2em;
  font-weight: 300;
}

.container{
  // margin-top: 5vh;
  padding-left: 3em;
  max-width: inherit;
}

.image-container{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url(../../assets/me.jpg);
  margin: 0px;
}

.image-card{
  height: 25rem;
  width: 18rem;
  box-shadow: 0 5px 4px 2px rgba(0,0,0,.2);
  max-width: 18rem;
  min-width: 18rem;
  max-height: 25rem;
  padding: 10px;
  padding-bottom: 2rem;
  margin-left: 3rem;
}

.text-description{
  text-align: justify;
  text-justify: inter-word;
  color: white;
  font-size: 1.5em;
  margin-top: 3rem;
  font-family: Nunito Sans,sans-serif,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue;
}

.bubblebuttons{
  // margin-left: 30vw;
  // width:40vw;
  margin-top: 20rem;
  .bubblebuttons-row{
    margin-top: 2rem;
  }
}

.animation-canvas{
  width: 100%;
  height: 100%;
  z-index: 20;
}

.background{
  background-image: url(../../assets/bg6.jpg);
  background-size: cover;
  height: 35rem;
}

.app-description-container{
  margin-top: 10rem;
  margin-bottom: 10rem;
  .row-description{
    margin-top: 10rem;
}
}
.app-description{
  margin-top: 10rem;
}

.intro{
  margin-top: 2rem;
  color: white;
}
.intro2{
  color: white;
}

.resume{
  font-weight: 700;
  text-decoration: none;
  color: white;
}