<div *ngIf="right; else elseBlock" class="container d-none d-xl-block">
    <div class="row">
        <div class="col-5">
            <img class=icon-description src={{imagePath}} (click)="goToLink(demoLink)">
        </div>
        <div class="col-7">
            <h3 class=title>
                {{title}}
            </h3>
            <div class=description>
                {{text}}
            </div>
            <div class=buttons>
                
                <a class=links (click)="goToLink(sourceLink)">Sources</a>
                <a class=links [routerLink]="demoLink">Demo</a>
            </div>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <div  class="container d-none d-xl-block">
        <div class="row">
            <div class="col-7">
                <h3 class=title>
                    {{title}}
                </h3>
                <div class=description>
                    {{text}}
                </div>
                <div class=buttons>
                    <a class=links>Sources</a>
                    <a class=links  [routerLink]="demoLink" >Demo</a>
                </div>
            </div>
            <div class="col-5">
                <img class=icon-description src={{imagePath}} (click)="goToLink(demoLink)">
            </div>
        </div>
    </div>
</ng-template>

<div class="container d-xl-none">
    <div class="row">
        <h3 class=title-small>
            {{title}}
        </h3>
        <div class=description-small>
            {{text}}
        </div>
    </div>
    <div class="row">
        <div class=buttons>
            <a class=links (click)="goToLink(sourceLink)">Sources</a>
            <a class=links [routerLink]="demoLink">Demo</a>
        </div>
    </div>
    <div class="row">
        <img class=icon-description src={{imagePath}} (click)="goToLink(demoLink)">
    </div>
</div>