

<ng-sidebar-container>
 
  <!-- A sidebar -->
  <ng-sidebar class=sidebar position='right' [(opened)]="_opened">
    <!-- <img class=icon src="../assets/git.png"> -->
    <app-bubble-button class="bubble" imagePath="../assets/git.png" link="https://github.com/Biurk/"></app-bubble-button>
    <app-bubble-button class="bubble" imagePath="../assets/linkedIn.png" link="https://www.linkedin.com/in/florent-dravet-11b157180/"></app-bubble-button>
    <app-bubble-button class="bubble" imagePath="../assets/mail.png" link=""></app-bubble-button>
   
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <router-outlet></router-outlet>
  </div>

</ng-sidebar-container>

