<div matTooltip={{tooltip}}>
    <mat-card class=card
              (click)="goToPage()"
              [ngStyle]="{'padding':grayedOut ? '5px' : '0px', 
               'background-color': grayedOut ? '#999999' : '#ffffff'}">

        <mat-card-header class=header>
            <mat-card-title class=title>
                {{title}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img class='image'
                 width="100%"
                 height="100%"
                 src={{imagePath}} />
        </mat-card-content>
    </mat-card>
</div>
